<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>
  <link rel="shortcut icon" href="https://imgs.search.brave.com/PmG4kaS4YmQ97ISseTLCrlwcJ6MbwxvxKNJaKIuSxdY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvcGludGVyZXN0/L3NtYWxsL3BpbnRl/cmVzdF9QTkc2Ni5w/bmc" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
  <style>
*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: "Gilroy";

}
html,body
{
    width:100%;
    height: 100%;
}
  </style>
</head>
<body>
  