<% include ./partials/header.ejs %>
  <div class="w-full h-screen bg-center bg-cover bg-pink-200 flex items-center justify-center" >
    <div class="w-[32vw] h-[75vh] bg-white px-20 py-5 rounded-[30px]" >
      <div class=" flex flex-wrap items-center justify-center">
        <div class="w-10 h-10 rounded-full bg-pink-200 overflow-hidden">
          <img class="w-full h-full object-cover bottom-0" src="https://imgs.search.brave.com/a83NkaqqDTj3tcAegECcA0_yJbGN7l351PRdOQhRHRo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sb2dv/d2lrLmNvbS9jb250/ZW50L3VwbG9hZHMv/aW1hZ2VzLzQxOF9w/aW50ZXJlc3QuanBn" alt="">
        </div>
      </div>
      <h1 class="text-4xl text-center font-semibold text-zinc-700 tracking-tighter capitialize leading-none">Create New Account</h1>
      
     <form action="/register" method="post">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full"  type="text" name="fullname" placeholder="Fullname">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="email" name="email" placeholder="email">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full"  type="text" name="username" placeholder="Username">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full"  type="number" name="contact" placeholder="Contact">
      <input class="block border-2 rounded-md mt-2 px-3 py-2 w-full" type="password" name="password" placeholder="password">
        <input class="block border-2 rounded-full mt-5 px-3 py-2 w-full bg-red-600 text-white rounded-full" type="submit" value="Register" >
      <p class="text-sx text-zinc-600 font-semibold mt-2 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ut temporibus incidunt!</p>
     </form>
     <a class="inline-block mt-7 text-sl font-semibold text-blue-700 text-center" href="/">Login to Existing Account?</a>
    </div>
  </div>
<% include ./partials/footer.ejs %>
  
